<h1>{{ title }} está por funcionar gg</h1>

<div class="container">
<form>
    Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br><br>
    
    Numero 1: <input type="number"[(ngModel)]="numero2" name="numero2"><br><br>

    
    <input id="btn" type="submit" value="Sumar" (click)="sumar()" class="btn btn-outline-dark">
    
    <input id="btn" type="submit" value="Restar" (click)="restar()" class="btn btn-outline-dark">

    <input id="btn" type="submit" value="Multiplicar" (click)="multiplicar()" class="btn btn-outline-dark">



</form>
<p>Resultado: {{resultado}} </p>
</div>

    

  